/* IMPORT NUNITO FONT FROM GOOGLE FONTS AND ANOTHER FONTS  */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


@font-face {
  font-family: "Beaufort-Regular";
  src: url(../fonts/BeaufortforLOL-OTF/BeaufortforLOL-Regular.otf);
}

@font-face {
  font-family: "Beaufort-BoldItalic";
  src: url(../fonts/BeaufortforLOL-OTF/BeaufortforLOL-BoldItalic.otf);
}

@font-face {
  font-family: "Beaufort-Bold";
  src: url(../fonts/BeaufortforLOL-OTF/BeaufortforLOL-Bold.otf);
}

@font-face {
  font-family: "Spigel-SemiBold";
  src: url(../fonts/Spiegel-OTF/Spiegel-SemiBold.otf);
}

@font-face {
  font-family: "Spigel";
  src: url(../fonts/Spiegel-OTF/Spiegel-Regular.otf);
}
/* END IMPORTS */

/* CSS RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Spigel";
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* END CSS RESET */

/* Variables */

:root {
  /* Colors */
  --FONT-COLOR: #fff;

  --amazon-50: #f1f8f4;
  --amazon-100: #ddeee2;
  --amazon-200: #bdddc8;
  --amazon-300: #91c4a7;
  --amazon-400: #62a580;
  --amazon-500: #3d7f5d;
  --amazon-600: #2f6c4e;
  --amazon-700: #26563f;
  --amazon-800: #204534;
  --amazon-900: #1b392b;
  --amazon-950: #0e2019;
  
  --BG-MAIN-COLOR: #1c1c1f;
  --MITIC-COLOR: #202020;

  --BORDER-COLOR : #785A28;
  --GRIS-FRIO: #1E282D;
  --COLOR-GRIS: #1E2328;
  --NEGRO-HEXTECH: #010A13;

}

/* General Styles */

body {
  position: relative;
}

h1, h2, h3{
  font-family: "Beaufort-Bold", sans-serif;
}

h2 > a {
  font-family: "Beaufort-Bold", sans-serif;
}

header {
  background-color: var(--amazon-600);
  padding: 1rem;
  color: var(--FONT-COLOR);
  text-align: center;
}

main {
  background-color: var(--BG-MAIN-COLOR);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

form > * {
  background-color: var(--BG-MAIN-COLOR);
}

button {
  background-color: var(--BG-MAIN-COLOR);
}

label {
  position: absolute;
  left: -100px;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--amazon-700);
  padding: 1.5rem;
}

/* End General Styles */

.hero-section {
  padding: 1rem;
}

.hero-section > figure {
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 90%;
}

/* Form styles */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summoner-form { 
  width: 80%; 
  background-color: var(--GRIS-FRIO);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding: 1rem;  
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.19);
}

.summoner-form > * {
  background-color: transparent;
}

.btn-region {
  display: inline-flex;
  justify-content: space-around;
  width: 30%;
  padding: 0.5rem;
  border: none;
}

.inp-search {
  width: 70%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.btn-search {
  width: 10%;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

/* Edn form styles */

/* Modal styles */

.choose-region {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: 5rem;
  width: 20rem;
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10000;
  background-color: var(--MITIC-COLOR);
  font-weight: bolder;
}

.regions > div {
  background-color: var(--GRIS-FRIO);
  padding: 0.5rem;
  font-weight: bolder;
  text-align: center;
  border-top: 3px solid var(--NEGRO-HEXTECH);
}

.regions > div:hover {
  background-color: var(--NEGRO-HEXTECH);
  transform: scale(1.1);
  transition: 0.1s;
}

.opaco {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.exit-div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.exit {
  border: none;
}

.exit:hover {
  transition: 0.2s;
  transform: rotateZ(90deg) scale(1.2); 
}

/* End Modal Styles */


/* Random Champ Styles */

.random-champ-section{
  position: relative;
  font-size: 1.5rem;
  z-index: 10;
}

.random-champ-section > h2{
  background-color: var(--amazon-600);
  margin-top: -0.5rem;
  padding: 0.5rem;
}

.random-champ-section > h2 > a{
  text-decoration: none;
}

.champ-splash-container{
  padding: 1rem;
}

.random-champ-splash{
  margin-left: auto;
  margin-right: auto;
}

.splash-opacity {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2; 
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center 20%;
  filter: blur(8px);
  padding: 0.5rem;
}

.text-container {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  z-index: 20;
  display: flex;
  margin-top: -2rem;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.text-container > div > h2{
  font-size: 3rem;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 0.03rem;
  line-height: 1.1;
  text-transform: uppercase;
}

.text-container > div > h3{
  text-transform: uppercase;
  font-size: 1.3rem;       
}

.title-container {
  margin-bottom: 2rem;
}

.champ-lore {
  font-size: 1rem;
  font-family: "Spigel";
  text-align: left;
}

/* End Random Champ Styles */

/* Footer Styles */

.icon-link{
  width: 10rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.icon-link > span > a {
  font-size: 2rem;
}

.icon-link > span:hover {
  transform: scale(1.2); 
  transition: 0.5s;
}

/* End footer styles */

/* Animations */

.animate {
  animation: 0.5s ease-in-out 0s 1 forwards normal slide;
}

@keyframes slide {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.antianimate {
  animation: 0.5s ease-in-out 0s 1 forwards normal antislide;
}

@keyframes antislide {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* End animations */

/* Usefull clases */

.block {
  display: block;
}

/* End usefullclases */

@media screen and (min-width: 1024px){

  .random-champ-data{
    display: flex;
    flex-wrap: nowrap;
  }

  .text-container{
    width: 40%;
    margin: 0; 
  }

  .champ-lore {
    font-size: 1.3rem;
  }

}